@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Sans+Condensed&display=swap");
@charset "utf-8";

$font-one: "IBM Plex Sans Condensed", "Segoe UI Light", "Segoe", Tahoma,
  Helvetica, Arial, sans-serif;
$font-two: "IBM Plex Sans", "Segoe UI Light", "Segoe", Tahoma, Helvetica, Arial,
  sans-serif;
$font-system: "Segoe UI Light", "Segoe", Tahoma, Helvetica, Arial, sans-serif;

:global(body) {
  font-family: $font-two;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:global(h1, h2, h3, h4, h5, h6) {
  font-family: $font-one;
  // font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  // text-shadow : 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-rendering: optimizeLegibility;
  @supports (-webkit-touch-callout: none) {
    -webkit-text-stroke: 0.5px;
  }
}

:global(.font-one) {
  font-family: $font-one;
  // font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  // text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-rendering: optimizeLegibility;
  @supports (-webkit-touch-callout: none) {
    -webkit-text-stroke: 0.5px;
  }
}

:global(.font-two) {
  font-family: $font-two;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

:global(input, textarea, button) {
  font-family: $font-two;
  color: inherit;
  border: inherit;
  text-rendering: optimizeLegibility;
}

:global(body, p, span) {
  font-family: $font-two;
  text-rendering: optimizeLegibility;
}

:global(a) {
  font-family: $font-two;
  text-decoration: none;
  color: inherit;
  text-rendering: optimizeLegibility;

  &:visited {
    color: inherit;
  }
}

:global(li) {
  color: inherit;
}
